.container{
 border: 1px solid lightgray;
   padding: 10px 20px;
   border-radius: 10px;
   min-height: 30vh;
}

.customerQueue{
    display: flex;
    gap: 3rem;
  
}


.box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.items{
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.4rem 0.8rem;
}

.counter{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
    font-weight: 500;
}

.heading{
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
   
}

.urlBox{
   
    text-align: center;
    margin-top: 2rem;
}

.url{
    font-size: large;
}